<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AlgoxInstitute</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AlgoxInstitute.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

    <!--nav bar start  -->
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
                <img src="../images/demo-logo.png" class="navbar-logo" alt="logo" />
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="about us" asp-action="Index">abous us</a>
                    </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark fw-semibold"
                               href="#"
                               id="navbarDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Courses
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Courses"
                                       asp-action="Index">
                                        All Courses
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Courses"
                                       asp-action="MyCourses">
                                        My Courses
                                    </a>
                                </li>
                            </ul>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">contact</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
    </header>

  
    <!-- PAGE CONTENT -->
    <main role="main">
        @RenderBody()
    </main>

    <!-- footer start-->

    <footer class="lms-footer">
        <div class="footer-container">

            <div class="footer-section">
                <h3>Learning Management System</h3>
                <p>A digital platform dedicated to enhancing teaching and learning experiences.</p>
            </div>

            <div class="footer-section">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Aboutus</a></li>
                    <li><a href="#">Courses</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>Support</h4>
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

            <!-- Contact + Follow Us -->
            <div class="footer-section">
                <h4>Contact</h4>
                <p>Email: AlgoXInstitute@lms.com</p>
                <p>Phone: +94 77 493 1385</p>

                <h4 style="margin-top:15px;">Follow Us</h4>
                <div class="social-icons">
                    <a href="https://facebook.com" target="_blank">
                        <img src="images/Facebook.png" alt="Facebook">
                    </a>
                    <a href="https://youtube.com" target="_blank">
                        <img src="images/Youtube.png" alt="YouTube">
                    </a>
                    <a href="https://instagram.com" target="_blank">
                        <img src="images/Instagram.jpg" alt="Instagram">
                    </a>

                    <a href="https://wa.me/94771234567" target="_blank">
                        <img src="images/Whatsapp.jpg" alt="WhatsApp">
                    </a>
                    <a href="https://linkdin.org" target="_blank">
                        <img src="images/Linkdin.jpg" alt="LinkdIn">
                    </a>
                </div>
            </div>

        </div>

        <div class="footer-bottom">
            <p>© 2026 Learning Management System. All Rights Reserved.</p>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
