<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AlgoxInstitute</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AlgoxInstitute.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

    <!--nav bar start  -->
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
                <img src="../images/demo-logo.png" class="navbar-logo" alt="logo" />
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="about us" asp-action="Index">abous us</a>
                    </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark fw-semibold"
                               href="#"
                               id="navbarDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Courses
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Courses"
                                       asp-action="Index">
                                        All Courses
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="Courses"
                                       asp-action="MyCourses">
                                        My Courses
                                    </a>
                                </li>
                            </ul>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">contact</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
    </header>

    <!----------------------banner section------------------->

    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="promo-title">Empowering Education for All</p>
                    <p class="promo-mission">Track,Learn,Succeed</p>
                    <p>Supporting Inclusive and Quality Education for every student.</p>
                    <p><a href="#">Watch Tutorials</a></p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="../images/banner.png" class="img-fluid">
                </div>
            </div>
        </div>
        <img src="../images/wave1.png" class="bottom-img">
    </section>

    <!-- services section -->
    <section id="services">
        <div class="container text-center">
            <h2 class="title">Key Features for Effective Learning</h2>
            <div class="row text-center">
                <div class="col-md-3 services">
                    <img src="../images/service1.png" class="service-img">
                    <h5>Student Dashboard</h5>
                    <p>View Grade & attendance.</p>
                </div>
                <div class="col-md-3 services">
                    <img src="../images/service2.png" class="service-img">
                    <h5>Online Courses</h5>
                    <p>Access Learning Resources.</p>
                </div>
                <div class="col-md-3 services">
                    <img src="../images/service3.png" class="service-img">
                    <h5>Quizzes and Exams</h5>
                    <p>Conduct Assessments.</p>
                </div>
                <div class="col-md-3 services">
                    <img src="../images/service3.png" class="service-img">
                    <h5>Reports & Insights</h5>
                    <p>Analyze Performance</p>
                </div>
            </div>
       
        </div>
    </section>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - AlgoxInstitute - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
