html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
} 
/* nav bar section*/
.navbar {
    background-image: linear-gradient( to bottom, #ffffff 0%, #f5f5f5 100% );
}
.navbar-logo {
    height: 40px; /* adjust as needed */
    width: auto; /* keeps aspect ratio */
    object-fit: contain; /* prevents distortion */
}



.navbar li a {
    color: black !important;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    margin-left: 20px;
 }

.dropdown-menu li a {
    color: black !important;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    margin-left: 20px;
 }